<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="portfolio, resume">
    <meta name="keywords" content ="Alexys, Alexys Veloz, Alexys Octavio Veloz, resume, developer, IT, software engineer">
    <meta name="article:author" content ="Alexys Octavio Veloz">

    <title>{% block title %}My Personal Portfolio{% endblock title %}</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
</head>
<body class="container">
{% block page_content %}{% endblock page_content %}
</body>
</html>